{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Budget Tracker{% endblock %}


{% block content %}

<div class="container-fluid" id="budget">
    <!-- Display Budgets -->
    <div class="row budget_table">
        <div class="col-md-12">
            <h2>Budgets</h2>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Budgeted Amount</th>
                        <th>Actual Expenses</th>
                        <th>Remaining</th>
                        <th>Currency</th>
                    </tr>
                </thead>
                <tbody>
                    {% for budget in budgets %}
                    <tr>
                        <td>{{ budget.category }}</td>
                        <td>{{ budget.budgeted_amount|intcomma }}</td>
                        <td>{{ budget.actual_amount|intcomma }}</td>
                        <td>{{ budget.remaining_budget|intcomma }}</td>
                        <td>{{ budget.currency }}</td>
                    </tr>
                    {% endfor %}
                    {% if budgets|length == 0 %}
                    <tr>
                        <td colspan="5" class="text-center">No budgets available.</td>
                    </tr>
                    {% endif %}
                    {% if budgets|length > 0 %}
                    <tr>
                        <td>{{ budget.category }}</td>
                        <td>{{ budget.budgeted_amount }}</td>
                        <td>{{ budget.actual_amount }}</td>
                        <td>{{ budget.remaining_budget }}</td>
                        <td>{{ budget.currency }}</td>
                    </tr>
                    {% endif %}
                    
                </tbody>
            </table>
        </div>
    </div>
    
</div>

{% endblock %}