{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="container-fluid" id="reg1">
    <div class="card">
        <div class="card-body">
            <h2 class="text-center mb-4">Password Reset Sent</h2>
            <p class="text-center">We've emailed you instructions for resetting your password. If you don't receive an email, please check your spam folder.</p>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'login' %}" class="btn btn-primary">Back to Login</a>
        </div>
    </div>
</div>
{% endblock %}