{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load tz %}

{% block content %}

<div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-md-5 bg-transparent">
            <div class="shadow p-4">
                <img src="{% static 'images/Selection (1).jpg' %}" alt="Expenses" class="img-fluid">
            </div>
        </div>
    <div class="col-md-6">        
            <div class="shadow p-4">
                {% if expense %}
                    <h2>Monthly Expenses for {{ current_month_name }}</h2>
                    <p>Total Expenses: <span>{{ total_expenses|intcomma }}</span></p>
                    <p>Average Weekly Expense: <span>{{ average_expense_per_week|intcomma }}</span></p>
                    <p>Highest Expense: <span>{{ highest_expense.amount|intcomma }} on {{ highest_expense.title }}</span></p>
                    <p>Lowest Expense: <span>{{ lowest_expense.amount|intcomma }} on {{ lowest_expense.title }}</span></p>
                {% else %}
                    <h2>No Expenses Recorded</h2>
                    <p>Please add your expenses to see the statistics.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}